

.App {
  padding: 20px;
}

.day-header {
  text-transform: uppercase;
  font-size: 12px;
}

.header-toolbar {
  background-color: red;
}

.day-cell {
  font-size: 14px;
}

.event-class {
  cursor: pointer;
  border: 1px solid #ccc;
}

